@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    margin-top: 50px;
}

.join-container{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 70px;
    line-height: 70px;
    text-align: right;
    padding-right: 20px;
}

.join-input input{
    width: 100px;
    border-radius: 7px;
    height: 36px;
    margin-left: 20px;
    margin-right: 20px;
}

.login{
    display: flex;
    flex-direction: row;
    height: 36px;
    width: 100%;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    text-align: center;
    line-height: 35px; 
}

.login-submenu-1{
    flex-grow: 12;
    text-align: right;
}

.login-submenu-1 select{
    width: 100px;
    border-radius: 7px;
    height: 36px;
    border: 2px solid black;
}

.login-submenu-2{
    flex-grow: 1;
    text-align: right;
}


.contents{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid black;
    height: 800px;
    width: 50%;
    margin: 0 auto;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    text-align: right;
    padding-right: 20px;
}

.checkbox-container{
    height: 30px;
    width: 100%;
    margin-left: 50px;
}

.status-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 20px;
}

.status-container span{
    margin-bottom: 10px;
    font-weight: bold;
}

.todo-input input{
    width: 250px;
    border-radius: 7px;
    height: 36px;
    margin-left: 20px;
}

.todo-list-container{
    width: 100%;
}

.todo-list{
    width: 100%;
    background-color: rgb(198, 196, 196);
    border-radius: 7px;
    padding: 1rem 1rem;
}

.todo-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background-color: white;
    padding: 0.5rem 0.5rem;
    margin-bottom: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.right button {
  margin-left: 5px; 
}